body {
    background-color: #24292e;
    color: white;
}

.example > .col-4 {
    margin-top: 1.3em;
}

.badge {
    position: absolute;
    margin-top: 3em;
    margin-left: 52em;
}

.container {
    margin-top: 4%;
}

.first-example {
    margin-top: 10em;
}

.hide {
    display: none;
}